node_modules/
npm-debug.log*
package-lock.json
dist/*
**/*.wasm
**/*.wat
.vscode/
.DS_Store
*.lock
.env
.parcel-cache/
client/rust/target
client/rust/Cargo.lock
client/rust/pkg
client/dist/
prod.env
.gcloudignore